@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  padding: 3rem;
  color: #fff;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
